MONGO_DATABASE=notification
MONGO_USERNAME=notification
MONGO_PASSWORD=notification

RABBITMQ_USERNAME=notification
RABBITMQ_PASSWORD=notification

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
